.global{ 
    margin: 0 auto; 
    padding: 0 auto;
}   
.header{ 
    background-color: #005D9C; 
    padding-top: 20px; 
} 
body{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;      
} 
 
.header_container { 
    margin: 0 auto; 
    max-width: 1200px; 
} 
 
.wrapper { 
    display: flex; 
    justify-content: space-between; 
} 
 
.main-logo-text{ 
    color: white; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: lighter; 
    font-size: 14px; 
} 
.logo_wrapper{ 
    display: flex; 
    gap: 5px; 
    align-items: center; 
} 
.mail-wrapper{ 
    display: flex; 
    gap: 5px; 
} 
.mail-text{ 
    font-size: 13px; 
    color: #ffffff; 
    font-weight: lighter; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
     
} 
.mail-icon{ 
    display: flex; 
    align-items: center; 
} 
.mail-link{ 
    font-size: 17px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color: white; 
    text-decoration: none; 
} 
.contacts_wrapper{ 
    display: flex; 
    gap: 50px; 
    align-items: center; 
} 
.search-wrapper{ 
    background-color: #fff; 
    display: flex; 
    border-radius: 5px; 
    height: 40px; 
} 
.search-input{ 
    outline: none; 
    border: none; 
    border-radius: 5px; 
} 
.nav-link{ 
    list-style-type: none; 
    color: white; 
} 
.nav{ 
    margin-top: 20px; 
} 
.nav ul { 
    height: 40px; 
    display: flex; 
    justify-content: space-between; 
    padding: 0; 
    margin: 0; 
} 
.text1{ 
    color: white; 
    text-decoration: none; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-style: 15px; 
} 
.text1-1{ 
    color: #ffffff; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 15px; 
    text-decoration: none; 
    border-bottom: 3px solid white; 
    padding-bottom: 15px; 
} 
li{ 
    list-style: none; 
} 
 
.header_02{ 
    display: flex; 
    align-items: center; 
    height: 59px; 
    justify-content: center;
 
} 
.list{ 
    display: flex; 
    gap: 50px;
    padding-inline-start: 0px;
} 
.text2{ 
    color: black; 
    text-decoration: none; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 16px; 
} 
.nav-link1{ 
    list-style-type: none; 
}
.text2-2{
    color: #0066A1; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 15px; 
    text-decoration: none; 
    border-bottom: 3px solid #0066A1; 
    padding-bottom: 10px;
}

/* header */

.text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 228px;
    margin-left: 75px;
    margin-top: -50px;
    font-weight: lighter;
    font-size: 14px;
}
.flag-text{
    margin-left: 100px;
    padding-top: 20px;
}

.email-text{
    margin-left: 20px;
    margin-top: -21px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 13px;
}
.mail1{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 17px;
    position: absolute;
    margin-top: -15px;
}
.mom-div{
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin-top: -50px;
    margin-left: 500px;
}
.phone-text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    margin-top: -20px;
    margin-left: 14px;
    font-size: 13px;
}
.number{
    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    position: absolute;
    margin-top: -15px;
}
.input{
    height: 40px;
    width: 280px;
    padding-left: 15px;
    outline: none;
}
.img-fill{
    margin-left: -30px;
    position: absolute;
    margin-top: 11px;
}
.hr{
    width: 1237px;
    color: #0072be;
    margin-left: 100px;
    margin-top: 15px;
}
.menu{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 1340px;
    margin-top: -30px;
}
.section{
    color: #43b4ff;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    list-style: none;
}
.section2{
    color: #ffffff;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    list-style: none;
    border-bottom: 3px solid white;
    display: inline-block;
    padding-bottom: 8px;
}

.section:hover{
    color: #ffffff;
}
.menu2{
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    margin-left: 93px;
    margin-top: 10px;
}
.section1{
    color: #000000;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    list-style: none;
}
.hr1{
    margin-top: -16px;
}
.section1-1{
    color: #0066A1;
    border-bottom: 3px solid #0066A1;
    display: inline-block;
    padding-bottom: 20px;
}
.section1:hover{
    color: #0066A1;
    ;
}
.main-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    display: flex;
    justify-content: center;
    width: 520px;
}
.column_1{
    display: flex;
    justify-content: space-around;
    width: 1200px;
}
.column_1-1{
    width: 1405px;
    height: 360px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.tagaev-dep{
    display: flex;
    position: absolute;
    margin-top: -110px;
    margin-left: 20px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 14px;
}
.tagaev-text{
    position: absolute;
    margin-top: -80px;
    margin-left: 20px;
    width: 230px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.main-menu{
    display: flex;
    justify-content: center;
}
.header-main{
    display: flex;
    justify-content: center;
    width: auto;
    background: #005D9C;
}
.main{
    width: auto;
    display: flex;
    justify-content: center;
}
.dep-image:hover{
    filter: brightness(60%);
}
.dep-photo{
    transition: filter 0.3s ease;
}
.dep-photo{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.dep-photo{
    transition: transform 0.3s ease;
    width: 280px;
}
.dep-photo:hover{
    transform: translateY(-10px);
    display: block;
}
.dep-photo:nth-child(2){
    transition: transform 0.3s ease;
}
.dep-photo:nth-child(2):hover{
    transform: translateY(-10px);
}
.btn{
    position: relative;
    top: -160px;
    background: transparent;
    border: none;
    display: none;
}
.btn:hover{
    display: flex;  
}
.dep-photo:hover .btn{
    display: flex;
}
.column_1-2{
    width: 805px;
    height: 360px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.column_1-3{
    display: flex;
    justify-content: space-around;
    width: 600px;
}
.footer{
    padding-top: 150px;
}
.logo-text{
    display: flex;
    margin-left: 170px;
}
.text-logo{
    padding-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}
.icons{
    margin-left: 900px;
    margin-top: -45px;
}
.text_copy{
    margin-left: 1050px;
    margin-top: -44px;
    color: #7F7F7F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}