.header{
    background-color: #005D9C;
    padding-top: 20px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}
.global{
    margin: 0 auto;
    padding: 0 auto;
}   
.header_container {
    margin: 0 auto;
    max-width: 1200px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.main-logo-text{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 14px;
}
.logo_wrapper{
    display: flex;
    gap: 5px;
    align-items: center;
}
.mail-wrapper{
    display: flex;
    gap: 5px;
}
.mail-text{
    font-size: 13px;
    color: #ffffff;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.mail-icon{
    display: flex;
    align-items: center;
}
.mail-link{
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
}
.contacts_wrapper{
    display: flex;
    gap: 50px;
    align-items: center;
}
.search-wrapper{
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    height: 40px;
}
.search-input{
    outline: none;
    border: none;
    border-radius: 5px;
}
.nav-link{
    list-style-type: none;
    color: white;
}
.nav{
    margin-top: 20px;
}
.nav ul {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.text1{
    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: 15px;
}
.text1-1{
    color: #ffffff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 3px solid white;
    padding-bottom: 15px;
}
li{
    list-style: none;
}

.header_02{
    display: flex;
    align-items: center;
    height: 59px;
    justify-content: center;
    width: 1000px;

}
.list{
    display: flex;
    gap: 15px;
}
.text2{
    color: black;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.text2-2{
    color: #0066A1; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 15px; 
    text-decoration: none; 
    border-bottom: 3px solid #0066A1; 
    padding-bottom: 10px;
}
.nav-link1{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
}
.section1{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.section2{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.text_building{
    color: rgba(1, 93, 147, 1);
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    text-align: center;
    width: 100%;
}
.text_building1{
    color: rgba(1, 93, 147, 1);
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    text-align: center;
    width: 100%;
}
.button1{
    background-color: rgba(1, 93, 147, 1);
    width: 254px;
    height: 56px;
    top: 836px;
    left: 258px;
    border-radius: 2px;
    color: white;
    border: none;
    margin-top: 15px;
}
.button2{
    background-color: rgba(1, 93, 147, 1);
    width: 254px;
    height: 56px;
    top: 836px;
    left: 258px;
    border-radius: 2px;
    color: white;
    border: none;
    margin-top: 15px;
}
.container2{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.section_text2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 380px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.name_building{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
}
.numbers{
    display: flex;
    flex-direction: column;
}
.icon_gmail{
    width: 22px;
    height: 22px;
}
.icon_phone{
    width: 22px;
    height: 22px;
}
.numbers_code{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-contacts{
    display: flex;
    align-items: center;
    gap: 30px;
}
.element1{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.element2{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.element3{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.element4{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.text_list{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
.number_list{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(127, 127, 127, 1);
}
.text-mass1{
    width: 760px;
    height: 72px;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.text-mass2{
    width: 760px;
    height: 88px;
    font-size: 15px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-mass3{
    width: 760px;
    height: 88px;
    font-size: 15px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-mass4{
    width: 760px;
    height: 66px;
    font-size: 15px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container3{
    display: flex;
    margin: 0 auto;
    height: 500px;
    flex-direction: column;
    margin-top: 90px;
}
.section3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 380px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: right;
}
.img_list{
    display: flex;
}
.list_text3{
    display: flex;
}
.text_list3{
    display: flex;
    padding: 4px;
    color: rgba(127, 127, 127, 1);
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 400;
}
.text_list4{
    display: flex;
    padding: 4px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 500;
}
.airport{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* footer */

.footer{
    padding-top: 50px;
}
.logo-text{
    display: flex;
    margin-left: 170px;
}
.text-logo{
    padding-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}
.icons{
    margin-left: 900px;
    margin-top: -45px;
}
.text_copy{
    margin-left: 1050px;
    margin-top: -44px;
    color: #7F7F7F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}